
/*#root {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 1rem;
  padding: 1rem;
}*/

/* Styling for the root container */
#root {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 1rem;
  padding: 1rem;
  margin: 0 auto;
  /* Center the grid */
  justify-content: center;
  /* Center items in the grid */
}

/* Style for each episode card container */
section {
  position: relative;
  background: #f9f9f9;
  border: 1px solid #ddd;
  border-radius: 10px;
  overflow: hidden;
  /* Ensures button is contained within the card */
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  /* Ensures content is spaced out */
  height: 350px;
  /* Fixed height for card */
}


section button:hover {
  background-color: #555;
  /* Change color on hover */
}

/* Styling for the episode name, code, image, and summary */
section h3 {
  font-size: 1.2rem;
  color: #333;
  margin-bottom: 10px;
}

#episode-code {
  font-size: 1rem;
  color: #777;
  margin-bottom: 15px;
}

section img {
  width: 100%;
  height: auto;
  border-radius: 5px;
  margin-bottom: 15px;
}

#summary {
  font-size: 0.9rem;
  color: #555;
  white-space: normal;
}

#root>button {
  align-self: flex-end;
}





